* {
    margin: 0;
    padding: 0;
}

.grid {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 10px 50px 1fr 1fr;
    gap: 2px;
    grid-template-areas: "title title title"
                         "navGridBlock navGridBlock navGridBlock"
                         "leftGrid mainGrid rightGrid"
                         "leftGrid mainGrid rightGrid";
}
/* Nav Bar  Start*/
body {
    background-color:rgb(128, 193, 204);
}

.title {
    display: flex;
    grid-area: title;
    justify-content: right;
    margin-right: 10px;
}
.navGridBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: navGridBlock;
}
.navContainer {
    background-color:grey;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-grow: 1;
    text-decoration: none;
    color: black;
}
.navContainer:hover {
    color: white;
    border: 1px solid white;
}
/* Nav Bar  End*/


.mainGrid {
    display: grid;
    grid-area: mainGrid;
    background-color: rgb(128, 193, 204);
    justify-items: center;
    border:4px solid black;
    height: 100vh;
}
.leftGrid {
  
  grid-area: leftGrid;
  height: 100vh;
}
.rightGrid {
    
    grid-area: rightGrid;
    height: 100vh;
}